<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>

<div class="footer">
    <div class="container justify-content-between">
        <div class="row justify-content-between">
            <div class="col-md-4 col-xs-12">
                <div class="first">
                    <h4>About our product</h4>
                    <p> This is our words learning app.</p>
                    <p> You need to be logged in to use our app.</p>
                    <p> Give us a feedback</p>
                    <p> Feel free to contact us</p>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="second">
                    <ul>

                        <a href="https://github.com/praksaProjekt?tab=repositories" target="_blank"> <i
                                class="fab fa-github fa-2x margin"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"> <i
                                class="fab fa-linkedin fa-2x margin"></i></a>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="third">
                    <h4> Contact</h4>
                    <ul>
                        <li>You can also contact us on social media.</li>
                        <li><i class="far fa-envelope"></i> test@gmail.com</li>
                        <li><i class="fas fa-map-marker-alt"></i> Split, Croatia </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
</div>