.card {
    border-radius: 10px;
    background: rgb(241, 241, 231);
}

#row {
    background-color: #d9534f;
    margin-top: 4px;
    margin-left: 20px;
}

tr:hover td {
    background: rgb(215, 215, 202);
}

.pie-chart-parent {
    display: grid;
}

.space {
    padding: 50px;
}