<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
        <a routerLink="/home"><img src="../../../assets/images/test.png" class="img-fluid" alt="Responsive image"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active" href="#">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/search" routerLinkActive="active" href="#">Search words</a>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" routerLinkActive="active" *ngIf="getUser()" href="#">
                        About {{this.user.email}}</a>

                <li class="nav-item">
                    <a class="nav-link" *ngIf="isUserAuthenticated()==false" routerLink="/login"
                        routerLinkActive="active" href="#">Login/register</a>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="isUserAuthenticated()==true" (click)="logOut()" routerLink="/login"
                        routerLinkActive="active" href="#">Logout</a>
            </ul>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>