<div class="text-center">
    <form class="forma" style="max-width: 480px;margin:auto;">
        <h1 class="mt-4 mb-3"><i class="bi bi-lock"></i> Please enter your new password!</h1>
        <label for="">Verification token:</label>
        <input type="text" id="token" name="token" class="form-control mt-1" placeholder="Verification code we sent you"
            required autofocus>
        <label for="">New password:</label>
        <input type="text" id="newpassword" name="newpassword" class="form-control mt-1" placeholder="Your new password"
            required autofocus>
        <label for="">Confirm new password:</label>
        <input type="text" id="confirmedpassword" name="confirmedpassword" class="form-control mt-1"
            placeholder=" Confirm your new password" required autofocus>
        <div class="mt-3">
            <a><button class="movebtn movebtnsu" type="Submit">Submit <i
                        class="fa fa-fw fa-paper-plane"></i></button></a>
        </div>
    </form>
</div>