<div class="card card-4 w-50 text-center mx-auto my-3 container">

    <h1 class="givenword card-title display-1 card_title">Your stats:</h1>

    <div class="text-align-center card-body">
        <h5 class=" ">Percentage of English learned: </h5>
    </div>
    <div class="circle mx-auto">
        <circle-progress [percent]=this.percent>

        </circle-progress>
    </div>

    <h5 class="mt-3 ">Word Classes stats:</h5>
    <div class="cardGroup mt-2">
        <div class="  row ">
            <div class="card cardWord  mx-2 col">
                <img class="d-inline" src="../../../assets/images/icons8-noun-96.png" alt="">
                <p class="d-inline mx-auto">{{this.numOfTypes.nouns}} nouns!</p>
            </div>
            <div class="card cardWord  mx-2 col">
                <img class="d-inline" src="../../../assets/images/icons8-adjective-96.png" alt="">
                <p class="d-inline mx-auto">{{this.numOfTypes.adjectives}} adjectives!</p>
            </div>
        </div>
        <div class="  row ">
            <div class="card cardWord  mx-2 col">
                <img class="d-inline" src="../../../assets/images/icons8-verb-96 (1).png" alt="">
                <p class="d-inline mx-auto">{{this.numOfTypes.verb}} verbs!</p>
            </div>
            <div class="card cardWord  mx-2 col">
                <img class="d-inline" src="../../../assets/images/icons8-adverb-96.png" alt="">
                <p class="d-inline mx-auto">{{this.numOfTypes.adverb}} adverbs!</p>
            </div>
        </div>
    </div>



</div>