<div class="card card-4 w-50 text-center mx-auto my-3">
    <span class="">
        <h1 class="givenword card-title display-1 card_title">Your stats:</h1>
    </span>
    <p class="lead card-subtitle" id="wordType"></p>
    <div class="text-start card-body">
        <h5 class=" d-inline">Percentage of English learned: </h5>
        <div class="mx-auto d-inline" style="margin-top:10%;">
            <circle-progress [percent]="80">
            </circle-progress>
        </div>


        <p class="inline d-inline"> </p>
        <h5 class="mt-2">Synonyms:</h5>
        <h5 class="d-inline">Example: </h5>
        <p class="d-inline"></p>

    </div>


</div>