.circle {
    justify-content: center;
    flex-direction: row;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card_title {
    font-weight: 400;
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .givenword {
        font-size: 60px;
    }
}

@media screen and (max-width:768px) {
    .givenword {
        font-size: 40px;
    }
}

p {
    font-size: 1.2rem;
    font-weight: bold;
}

div i {
    padding-left: 10px;
}

.card {
    background: radial-gradient(#60efbc, #58d5c9);
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0, 2s;
}

.cardGroup {
    flex-direction: row;
}

.cardWord {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    background: rgb(241, 241, 231);
    margin-bottom: 15px;
}

.cardWord p {
    position: relative;
    margin-bottom: 0px !important;
}

img {
    height: 96px;
    width: 96px;
    margin-left: 10px;
}

@media screen and (max-width:1000px) {
    img {
        width: 80px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    div {
        text-align: center;
        min-width: 200px;
    }
}

@media screen and (max-width:550px) {
    .btn-hover {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}

@media screen and (max-width:500px) {
    .btn-hover {
        width: 160px;
    }
}

@media screen and (max-width:400px) {
    span {
        font-size: 14px;
    }
}

@media screen and (max-width:380px) {
    .btn-hover {
        width: 140px;
    }

    .cardWord {
        max-width: 170px !important;
        padding: 0px;
        margin: 0px !important;
        margin-bottom: 10px !important;
    }
}