<div class="container">
    <div class="toasts">
        <div role="alert" class="fade alert alert-danger alert-dismissible show">
            <div class="d-flex">
                <img alt="noti-icon" src="https://brand.workingsolutions.com/components/images/danger.svg" width="28"
                    class="me-4">
                <div>
                    <div class="alert-heading h4">Alert! </div>
                    <p>Access denied you are not allowed to access this page.</p>
                </div>
            </div>
        </div>
    </div>
</div>