* {
    justify-content: center;
}



h2 {
    margin: auto;
    text-align: center;
}

div {
    margin: auto;
    width: 50%;
}


button {

    background-color: none;
    color: none;
    border: none;
}

input {
    max-width: 40%;
}

input,
label {
    display: flex;
    flex-direction: column;
}

.input-group-text {
    background-color: rgb(160, 245, 188);
}

.card {
    background: radial-gradient(#60efbc, #58d5c9);
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0, 2s;
}

li {
    background: radial-gradient(#60efbc, #58d5c9);
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card_title {
    font-weight: 400;
    color: #ffffff;
}

@media screen and (max-width:1200px) {
    .givenword {
        font-size: 60px;
    }
}

@media screen and (max-width:768px) {
    .givenword {
        font-size: 40px;
    }
}

@media screen and (max-width:768px) {
    div {
        text-align: center;
        min-width: 200px;
    }
}