/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: beige !important;
}

body {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

html {
    min-height: 100vh;
}

.footer {
    margin-top: 250px;
}