<div class="container">
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th scope="col">Position</th>
                    <th scope="col">Word</th>
                    <th scope="col">Repetitions</th>
                </thead>
                <tbody>
                    <tr>
                        <!-- <td>{{shortUser.id}}</td>
                        <td>{{shortUser.name}}</td>
                        <td>{{shortUser.lastName}}</td>
                        <td>{{shortUser.email}}</td>
                        <td *ngIf="shortUser.bussinessMail!==''">{{shortUser.bussinessMail}}</td>
                        <td *ngIf="shortUser.bussinessMail===''"><i class="bi bi-question"></i></td>
                        <td>{{shortUser.nickname}}</td>

                        <td *ngIf="shortUser.phoneNumber!==''">{{shortUser.phoneNumber}}</td>
                        <td *ngIf="shortUser.phoneNumber===''"><i class="bi bi-question"></i></td>

                        <button id="row" type="button" data-toggle="modal" data-target="#exampleModal"
                            (click)="saveId(shortUser.id)" class="btn btn-danger "><i
                                class="bi bi-x-circle-fill"></i>Delete</button> -->
                    </tr>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                </div>

                            </div>
                        </div>
                    </div>

                </tbody>
            </table>
        </div>
    </div>
</div>