<div class="container">
    <div class="card mx-auto">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th colspan="3">Top Words</th>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Word</th>
                        <th scope="col">Number of people:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let word of this.words;index as i">
                        <td *ngIf="i==0" class="position first">{{i+1}} </td>
                        <td *ngIf="i==1" class="position second">{{i+1}} </td>
                        <td *ngIf="i==2" class="position third">{{i+1}} </td>
                        <td *ngIf="i>2" class="position else">{{i+1}} </td>
                        <td class="info">{{word.wordName}}</td>
                        <td class="info">{{word.repetitions}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>